<!DOCTYPE HTML>

<html>
	<head>
		<title>Кто это?</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
		<link rel="icon" type="image/x-icon" href="static/images/favicon.png">
	</head>
	<body class="is-preload">

		<!-- Wrapper-->
			<div id="wrapper">

				<!-- Nav -->
					<nav id="nav">
						<a href="#" class="icon solid fa-home"><span>Главная</span></a>
						<a href="#work" class="icon solid fa-folder"><span>Портфолио</span></a>
						<a href="https://t.me/Dutchplan_der_linde" class="icon brands fa-telegram"><span>Телеграм</span></a>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Me -->
							<article id="home" class="panel intro">
								<header>
									<h1>Иван Галенкин</h1>
									<p>Ленивый ублюдок, но в то же время что-то похожее на разработчика</p>
								</header>
								<a href="#work" class="jumplink pic">
									<span class="arrow icon solid fa-chevron-right"><span>See my work</span></span>
									<img src="static/images/jackie_boah.jpg" alt="" />
								</a>
							</article>

						<!-- Work -->
								<article id="work" class="panel">
								<header>
									<h2>Портфолио</h2>
								</header>
								<p>
									Здесь собранна коллекция из моих собственных проектов, показывающая мои навыки и умения работать на питоне. Надеюсь, что-то в состоянии вас впечатлить
								</p>

								<section>
									<div class="row">
										<div class="col-4 col-6-medium col-12-small">
											<a href="https://drive.google.com/drive/folders/1-vZVO4o8JOfb36A7VWTkeJeHrzh5eESI?usp=sharing" class="image fit"><div class="imageContainer"><h3>Проекты с парсингом</h3></div></a>

										</div>

										<div class="col-4 col-6-medium col-12-small">
											<a href="https://drive.google.com/drive/folders/1aWRM15Vy2EC-ZiUsKPH3kXlXVbQebok9?usp=sharing" class="image fit"><div class="imageContainer"><h3>API's</h3></div></a>

										</div>
										<div class="col-4 col-6-medium col-12-small">

											<a href="https://drive.google.com/drive/folders/1gZVGwNDb5xO3zFMI_Oelns4C0TUCwOg1?usp=sharing" class="image fit"><div class="imageContainer"><h3>Flask, Bootstrap</h3></div></a>

										</div>
										<div class="col-4 col-6-medium col-12-small">
											<a href="https://drive.google.com/drive/folders/1yralTvMR-c-BXmlYiWeCC3NqFGKCO2XL?usp=sharing" class="image fit"><div class="imageContainer"><h3>Turtle, Tkinter</h3></div></a>
										</div>
										<div class="col-4 col-6-medium col-12-small">
											<a href="https://drive.google.com/drive/folders/1cKoeCMuaIHftFasL6gu4XBTHXzZWnQ6x?usp=sharing" class="image fit"><div class="imageContainer"><h3>Selenium</h3></div></a>
										</div>
										<div class="col-4 col-6-medium col-12-small">
											<a href="https://drive.google.com/drive/folders/1Xb8iLj2etP7U0vl3QvYi3bdLbaMPJd4B?usp=sharing" class="image fit"><div class="imageContainer"><h3>Программы на Python</h3></div></a>
										</div>

									</div>
								</section>
								</article>
					</div>
						<!-- Contact -->



				<!-- Footer -->
					<div id="footer" style="background-color: #5E1513">
						<ul class="copyright" style="background-color: #5E1513">
							<li>&copy; Untitled 2022.</li><li>Designed by: <a href="https://t.me/Dutchplan_der_linde">Jackie_boah</a></li>
						</ul>
					</div>



		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>


	</body>
</html>